Client_JSP/src/calcul/Distance6.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://calcul/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="DistanceService" targetNamespace="http://calcul/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://calcul/" elementFormDefault="unqualified" targetNamespace="http://calcul/" version="1.0">

  <xs:element name="Distance" type="tns:Distance"/>

  <xs:element name="DistanceResponse" type="tns:DistanceResponse"/>

  <xs:complexType name="Distance">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:double"/>
      <xs:element minOccurs="0" name="arg1" type="xs:double"/>
      <xs:element minOccurs="0" name="arg2" type="xs:double"/>
      <xs:element minOccurs="0" name="arg3" type="xs:double"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="DistanceResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:double"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
  </wsdl:types>
  <wsdl:message name="DistanceResponse">
    <wsdl:part element="tns:DistanceResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="Distance">
    <wsdl:part element="tns:Distance" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="Distance">
    <wsdl:operation name="Distance">
      <wsdl:input message="tns:Distance" name="Distance">
    </wsdl:input>
      <wsdl:output message="tns:DistanceResponse" name="DistanceResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DistanceServiceSoapBinding" type="tns:Distance">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="Distance">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="Distance">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="DistanceResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DistanceService">
    <wsdl:port binding="tns:DistanceServiceSoapBinding" name="DistancePort">
      <soap:address location="http://localhost:8080/SrvDistance2_war/Distance"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>